body {
font-family:Arial,sans-serif;
margin: 0;
padding: 0;
background-color: #FFFFFF;
}
header{
background-color: #000000;
color: #FF0000;
text-align: center;
padding: 15px
}
 nav a{
    color: #FF0000;
    text-decoration: none
    margin:0 10px;
    font-weight:bold;
 }
 nav a :hover{
  text-decoration: underline;
 }

 Section{
    width: 80%;
    margin:20px auto;
    padding: 20px; 
    background-color: #FFFFFF
    box-shadow: 0 0 10px;
 }
  footer{
    text-align: center;
    background-color:  rgb(200, 118, 118)
    color bisque
    padding: 10px;
    margin-top: 20px
  }
  footer{
    color: bisque;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold
}
img{
border-radius: 20px;
}
form{
  padding: 15px;
  border-radius: 14px;
}  
input[type="text"],input[type="email"]{
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #888;
    border-radius: 10px;

}
input[type="submit"]{
  background-color: yellowgreen;
  color:white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#delbtn{
    background-color: #FF0000;  
    color:#FFFFFF;
}   
